<body>
     <div id="title">
        <span>ENCUENTRA A TU PAREJA AQUI</span>
      </div>
    <br>
    <div id="tablero">
    </div>
    <br>
    <div>
        <div class="nuevo-juego" onclick="generarTablero()">Nuevo Juego</div>
        <div class="nuevo-juego"><a href="/slider">Menu</a></div>
    </div>
   
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
    <script src="assets/js/juego1.js"></script>
</body>