<body>

  <section id="titulo">
    </div>
      <img  src="assets/images/Cuentos/pinochot.png">
    <div>
    <div class="titulo scroll-titulo">
      <h1 >Cuento de Pinocho</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, id enim? Ratione quasi, esse accusamus iure quos a corrupti nobis, ducimus architecto amet excepturi aliquid voluptatem assumenda dolorum, accusantium reiciendis.</h2>
    </div>
    </section>

  <section id="sec1" class="scroll-seccion1">
    <div class="parrafo1">
      <p>Érase una vez un anciano carpintero llamado Gepeto que era muy feliz haciendo juguetes de madera para los niños de su pueblo. Un día, hizo una marioneta de una madera de pino muy especial y decidió llamarla Pinocho. En la noche, un hada azul llegó al taller del anciano carpintero:</p> 
      <p> —Buen Gepeto —dijo mientras el anciano dormía—, has hecho a los demás tan felices, que mereces que tu deseo de ser padre se haga realidad. Sonriendo, el hada azul tocó la marioneta con su varita mágica:</p>
      <p>—¡Despierta, pequeña marioneta hecha de pino… despierta! ¡El regalo de la vida es tuyo</p>
      <p>Y en un abrir y cerrar de ojos, el hada azul dio vida a Pinocho.</p>
      <p>—Pinocho, si eres valiente, sincero y desinteresado, algún día serás un niño de verdad —dijo el hada azul—.</p>
      <p>Luego se volvió hacia un grillo llamado Pepe Grillo, que vivía en la alacena de Gepeto.  </p>
      <p>—Pepe Grillo — dijo el hada azul—, debes ayudar a Pinocho. Serás su conciencia y guardián del conocimiento del bien y del mal.</p>
    </div>
    <div>
      <img class="img1" src="assets/images/Cuentos/seccion1.jpg">
    </div>
  </section>
  <section id="sec2"  class="scroll-seccion2">
    <div>
      <img class="img2" src="assets/images/Cuentos/seccion2.jpg">
    </div>
    
    <div class="parrafo2">
      <p>Al día siguiente, Gepeto envió con orgullo a su pequeño niño de madera a la escuela, pero como era tan pobre, tuvo que vender su abrigo para comprar los libros escolares:</p>
      <p>—Pinocho, Pepe Grillo te mostrará el camino —dijo Gepeto—.</p>
      <p>Por favor, no te distraigas y llega a la escuela a tiempo.</p>
      <p>Pinocho salió de casa, pero nunca llegó a la escuela. En cambio, decidió ignorar los consejos de Pepe Grillo y vender los libros para comprar un tiquete para el teatro de marionetas.</p>
      <p> Cuando Pinocho comenzó a bailar con las marionetas, el titiritero sorprendido con las habilidades del niño de madera, le preguntó si quería unirse a su espectáculo de marionetas. Pinocho aceptó alegremente.</p>
      <p>Sin embargo, las intenciones del malvado titiritero eran muy diferentes; su plan era hacerse rico con la única marioneta con vida en el mundo.</p>
      <p>De inmediato, encerró a Pinocho y a Pepe Grillo en una jaula. Fue entonces que Pinocho reconoció su error y comenzó a llorar. El hada azul apareció de la nada.</p>
      <p>Aunque el hada azul conocía las razones por las cuales Pinocho se encontraba atrapado, aun así, le preguntó:</p>
    </div>
  </section>

  <section id="sec3" class="scroll-seccion3">
    <div class="parrafo3">
      <p>Al día siguiente, Gepeto envió con orgullo a su pequeño niño de madera a la escuela, pero como era tan pobre, tuvo que vender su abrigo para comprar los libros escolares:</p>
      <p>Pinocho salió de casa, pero nunca llegó a la escuela. En cambio, decidió ignorar los consejos de Pepe Grillo y vender los libros para comprar un tiquete para el teatro de marionetas. Cuando Pinocho comenzó a bailar con las marionetas, el titiritero sorprendido con las habilidades del niño de madera, le preguntó si quería unirse a su espectáculo de marionetas. Pinocho aceptó alegremente.</p>
      <p>Sin embargo, las intenciones del malvado titiritero eran muy diferentes; su plan era hacerse rico con la única marioneta con vida en el mundo. De inmediato, encerró a Pinocho y a Pepe Grillo en una jaula. Fue entonces que Pinocho reconoció su error y comenzó a llorar. El hada azul apareció de la nada.</p>
      <p>Aunque el hada azul conocía las razones por las cuales Pinocho se encontraba atrapado, aun así, le preguntó:</p>
    </div>
    <div>
      <img class="img3" src="assets/images/Cuentos/seccion3.jpg">
    </div>
  </section>
  
  <section id="sec4" class="scroll-seccion4">
    <div>
      <img class="img4" src="assets/images/Cuentos/seccion4.jpg">
    </div>
    <div class="parrafo4">
      <p>Convertidos en burros, Pinocho y los niños llegaron a un circo. El maestro de ceremonias hizo que Pinocho trabajara para el circo sin descanso. Allí, Pinocho se lastimó la pierna mientras hacía trucos. Enojado, el maestro de ceremonias lo tiró al mar junto con Pepe Grillo.</p>
      <p>En el agua, el hechizo se rompió y Pinocho volvió a su forma de marioneta, pero una ballena que nadaba cerca abrió su enorme boca y se lo tragó entero. En la oscuridad del estómago de la ballena, Pinocho lloró mientras que Pepe Grillo intentaba consolarlo. Fue en ese momento que vio a Gepeto en su bote:</p>
      <p>—Hijo mío, te estaba buscando por tierra y mar cuando la ballena me tragó. ¡Estoy tan contento de haberte encontrado! —dijo Gepeto.</p>
      <p>Los dos se abrazaron encantados.</p>
      <p>—De ahora en adelante seré bueno y responsable—, prometió Pinocho entre lágrimas.</p>
    </div>
  </section>
  <section id="sec5" class="scroll-seccion5">
    <div class="parrafo5">
      <p>Aprovechando que la ballena dormía, Gepeto, Pinocho y Pepe Grillo prendieron una fogata dentro de ella y saltaron de su enorme boca cuando el fuego la hizo estornudar. Luego, navegaron hasta llegar a casa. Pero Gepeto cayó enfermo, Pinocho lo alimentó y cuidó con mucho esmero y dedicación.</p>
      <p> —Papá, iré a la escuela y trabajaré mucho para llenarte de orgullo— dijo Pinocho.</p>
      <p> Cumpliendo su promesa, Pinocho estudió mucho en la escuela. Entonces un día sucedió algo maravilloso. El hada azul apareció y le dijo:</p>
      <p>- Pinocho, eres valiente, sincero y tienes un corazón bondadoso y desinteresado, mereces convertirte en un niño de verdad.</p>
      <p>Y fue así como el niño de madera se convirtió en un niño de verdad. Gepeto y Pinocho vivieron felices para siempre.</p>
    </div>
    <div>
      <img class="img5" src="assets/images/Cuentos/seccion5.jpg">
    </div>
  </section>
  
</body>