<div class="contai" id="contai">
        <div class="cubo">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="preloader">
            <h1>. . .</h1>
        </div>
    </div> 