<div class="contai" id="contai">
       
        <div class="cubo">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="preloader">
            <h1>. . .</h1>
        </div>
    </div> 
     <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>