<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Hansel y Gretel</title>	
	<link rel="stylesheet" type="text/css" href="ht
    tps://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="assets/css/stylesrsp.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://unpkg.com/scrollreveal"></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>