<head>
  <title>Sopa de letras</title>
  
    <link rel="stylesheet" type="text/css" href="assets/css/juego2.css">
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="assets/js/wordfind.js"></script> 
    <script type="text/javascript" src="assets/js/wordfindgame.js"></script> 
</head>