    <section class="d-flex">
        <h1 class="align-self-center text-center text-light mx-auto">Bienvenido</h1>
    </section>  
    
 <div id="menu" class="position-absolute w-100">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div id="menu-dark" class="bg-dark ">
                    <div id="content-dark" class="d-flex flex-column">
                        <ul class="list-unstyled display-4 mb-2 position-absolute w-100">
                            <li class="mb-3"><a href="" class="text-light">Cuento 1</a></li>
                            <li class="mb-3"><a href="" class="text-light">Cuento 2</a></li>
                            <li class="mb-3"><a href="" class="text-light">Cuento 3</a></li>
                            <li><a href="" class="text-light">Cuento 20301</a></li>
                        </ul>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="menu-light" class="bg-light">
                    <div id="content-light">
                        <a href="#">
                            <img src="assets/images/outerspace-10.gif" class="img-fluid mb-3">
                        </a>
                        <ul class="list-unstyled h4 mb-2 position-absolute w-100">
                            <li class="mb-3"><a href="" >Juego 1</a></li>
                            <li class="mb-3"><a href="">Juego 2</a></li>
                            <li class="mb-3"><a href="">Juego 3</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
   
    <script>
        function openMenu(){
            let menuDark = document.getElementById('menu-dark').style.width= '100%';
            let menuLight = document.getElementById('menu-light').style.width= '100%';
            let circle = document.getElementById('circle').style.cssText = 'background-color: #000000; box-shadow; 0 .5rem 1rem rgba(0,0,0, .15)';
            let menuOpen = document.getElementById('menu-open').style.cssText = 'transform: rotate(90deg); opacity: 0';
            
            setTimeout(() =>{
                let menuClose = document.getElementById('menu-close').style.cssText = "opacity: 100; z-index: 9999";
            }, 500)

            setTimeout(() =>{
                let contentDark = document.getElementById('content-dark').style.opacity = '1';
                let contentLight = document.getElementById('content-light').style.opacity = '1';
            }, 1000)
        }
        function hideMenu(){
            let menuClose = document.getElementById('menu-close').style.cssText = "opacity: 0; z-index: 999";
            let circle = document.getElementById('circle').style.cssText = 'background-color: transparent; box-shadow: none';
            
            let contentDark = document.getElementById('content-dark').style.opacity = '0';
            let contentLight = document.getElementById('content-light').style.opacity = '0';

            setTimeout(() => {
                let menuOpen = document.getElementById('menu-open').style.cssText = 'transform: rotate(0deg); opacity: 1'; 
            }, 500)
            
            setTimeout(() => {
                let menuDark = document.getElementById('menu-dark').style.width= '0';
                let menuLight = document.getElementById('menu-light').style.width= '0';
        
            }, 500)
        }
    </script>