body{
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
  display: grid;
}
p {
  font: 22pt sans-serif;
  margin: 20px 20px 0px 20px;
}
  

 #juego {
   border: 1px solid white;
   padding: 20px;
   float: left;
   margin: 30px 20px;  
   align-items: center; 
   text-align: center;
 }
  
  #juego div {
    width: 100%;
    margin: 0 auto;
  }
  

  #juego .puzzleSquare {
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    font: 1em sans-serif;
    color: white;
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  
  #juego .selected {
    background-color: orange;
  }
  
  #juego .found {
    background-color: blue;
    color: white;
  }
  
  #juego .solved {
    background-color: purple;
    color: white;
  }
  
  #juego .complete {
    background-color: green;
  }
  
  #Palabras {
    padding-top: 0%;
    color: white;
    align-items: left; 
    text-align: left;
  }
  
  #Palabras ul {
    list-style-type: none;
  }
  
  #Palabras li {
    padding: 3px 0;
    font: 1em sans-serif;
  }
  
  #Palabras .wordFound {
    
    color: gray;
  }
  
  #solve {
    margin: 0 30px;
    margin-left: 40%;;
    margin-right: 40%;
    color: white;
  }

  #solver {
    margin: 0 30px;
    margin-left: 44%;
    margin-right: 45%;
    color: white;
  }

  button {
    font-family: 'DotGothic16', sans-serif;
    background-color: transparent;
    border: 2px solid #212529;
    font-size: 1em;
    transition: color 1s,transform 1s, border-color 1s, box-shadow 1.25s  ; 
  }

  button:hover{
    border: 2px solid #ebebeb;
    background: #212529;
    color: #ebebeb;
    box-shadow: 0 0.5em 0.5em -0.2em  #ebebeb;
  }


  