body{
    background-color: #bfcde0;
    
}

::-webkit-scrollbar {
    display: none;
}
img{
    padding-left: 10%;
    height: 550px;
    width: 600px;
}
p{
    color: #495057;
}

div{
    text-align: justify;   
}

#titulo{
    display: flex;
    padding-right: 10%;
    padding-top: 5%;
    padding-left: 1%;
}
.titulo{
    text-align: center;
}
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    padding-top: 25%;
}
h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 15px;
    text-align: justify;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

/*seccion one*/
#sec1{
    display: flex;
    padding-top: 10%;
    padding-right: 2%;
}

.parrafo1{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;
}

.img1{
    height: 550px;
    width: 600px;
}

/*seccion one*/
#sec2{
    display: flex;
    padding-top: 5%;

}

.parrafo2{
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-right: 20px;
    margin-left: 20px;


   
}
.img2{
    height: 550px;
    width: 600px;
    padding-left: 2%;
}

/*seccion tres*/

#sec3{
    display: flex;
    padding-top: 5%;
}

.parrafo3{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;

}

.img3{
    height: 500px;
    width: 725px;
    padding-left: 5%;
    padding-right: 2%;
}

/*seccion cuatro*/
#sec4{
    display: flex;
    padding-top: 5%;
}

.parrafo4{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 40px;
    margin-right: 5px;
}

.img4{
    height: 500px;
    width: 600px;
    padding-left: 5%;
    padding-right: 3%;
}

/*seccion ccinco*/

#sec5{
    display: flex;
    padding-top: 5%;
}

.parrafo5{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.img5{
    height: 550px;
    width: 710px;
    padding-left: 5%;
    padding-right: 6%;
}


.burbuja{
    border-radius: 50%;
    background: #ffff;
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}


.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}