body{
    background-color: #bfcde0;
}

::-webkit-scrollbar {
    display: none;
}
img{
    padding-left: 10%;
    height: 550px;
    width: 600px;
}
p{
    color: #495057;
}

div{
    text-align: justify;   
}

#titulo{
    display: flex;
    padding-right: 10%;
    padding-top: 5%;
    padding-left: 1%;
}
.titulo{
    text-align: center;
}
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    padding-top: 25%;
}
h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 15px;
    text-align: justify;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

/*seccion one*/
#sec1{
    display: flex;
    padding-top: 10%;
    padding-right: 2%;
}

.parrafo1{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;
}

.img1{
    height: 550px;
    width: 600px;
}

/*seccion one*/
#sec2{
    display: flex;
    padding-top: 5%;

}

.parrafo2{
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-right: 20px;
    margin-left: 20px;


   
}
.img2{
    height: 550px;
    width: 600px;
    padding-left: 2%;
}

/*seccion tres*/

#sec3{
    display: flex;
    padding-top: 5%;
}

.parrafo3{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;

}

.img3{
    height: 500px;
    width: 725px;
    padding-left: 5%;
    padding-right: 2%;
}

/*seccion cuatro*/
#sec4{
    display: flex;
    padding-top: 5%;
}

.parrafo4{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 40px;
    margin-right: 5px;
}

.img4{
    height: 500px;
    width: 600px;
    padding-left: 5%;
    padding-right: 3%;
}

/*seccion ccinco*/

#sec5{
    display: flex;
    padding-top: 5%;
}

.parrafo5{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(0, 0, 0, -.1) ;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0,+0.878 );
    color: white;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.img5{
    height: 550px;
    width: 710px;
    padding-left: 5%;
    padding-right: 6%;
}